body {
    text-align: center;
    /* font-size: 2rem; */
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.count {
    font-size: 3rem;
}

button {
    background-color: cyan;
    padding: 10px 16px;
    border: 1px solid gray;
    border-radius: 8px;
    cursor: pointer;
}

.class {
    margin-top: 20px;
}

input {
    width: 50px;
    text-align: center;
    font-size: 1.5rem;
    margin: 0 20px;
    border: 1px solid gray;
    border-radius: 8px;
    padding: 10px;
}

.reset {
    margin-top: 20px;
}

.profile-image {
    background-image: url(profile.jpg);
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 10px;
}

.name {
    font-size: 1.2rem;
}

.image-create {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: center;

    align-items: center;
    /* padding: 0 20px; */
    text-decoration: none;
    /* background-color: red; */
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* background-color: aqua; */
    list-style: none;
    padding: 0;
    margin: 10px;
}

.navigation img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.github {
    cursor: pointer;
    z-index: 10;

    /* The filter: brightness(); CSS property is used to adjust the brightness of an element, such as an image or a text block. It applies a filter that makes the element appear brighter or darker depending on the specified value. */

    /* value: A number that represents the amount of brightness to apply. This can be a percentage or a decimal number:
    0% or 0: Makes the element completely black (no brightness).
    100% or 1: Leaves the brightness unchanged (default value).
    Values greater than 100% or 1: Make the element brighter.
    Values between 0 and 1 (like 0.5 or 50%): Make the element darker. */
    filter: brightness(1%);
}

.theme {
    cursor: pointer;
}

.dark {
    transition: all 0.5s ease-in-out;
    background-color: #27292d;
    color: rgb(236, 236, 236);
}

@media screen and (min-width: 768px) {
    .theme {
        margin-left: 600px;
    }
}
